* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: blanchedalmond;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
    color: whitesmoke;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    
  }
  nav ul li {
    margin-left: 20px;
  
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
   background: rgb(102, 92, 92);
   border-radius:20px;
   font-size:20px;
  }
  
  .hero-content {
    text-align: center;
    padding: 100px 0;
    background-color: dimgrey;
    color: white;
  }
  
  .btn {
    display: inline-block;
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #services {
    padding: 25px;
    text-align: center;
  }
  
  .service-container {
    display: flex;
    justify-content: space-around;
   margin-top: 30PX;
  }
  
  .service-card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px red;
    margin-right: 50px;
  }
  
  #contact {
    background-color: whitesmok;
    padding: 50px;
    text-align: center;
  
    
    
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
    
  
 .container  {
    justify-content: space-around;
    margin-top: 50px;
    width: 100px;
    font-size: 30px;
    padding-left: 60px;
    background-color: rgb(74, 76, 77);
    border-radius: 50px;
  }
  .container h1 {
    font-size: 30px;
    padding: 20px;
    background-color: red;
    border-radius: 50px;
   text-align: center;
  }
    .container button {
        font-size: 20px;
        padding: 20px;
        background-color: red;
        border-radius: 50px;
    }
    .logo H1{
        font-size: 20px;
        padding: 20px;
        background-color: rgb(38, 0, 255);
        border-radius: 50px;
        text-align: center;
        
    }
    